# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
.vs/NoAdSpotify/v16/.suo
*.ipch
*.recipe
*.iobj
*.ipdb
*.log
*.tlog
*.pdb
*.exp
Release/chrome_elf.lib
